<h1>РК2 Ruby on Rails</h1>
<h2>Вариант 7 Долгов Павел ИУ6-34Б</h2>
<p>Текст задания: </p>
<pre>С клавиатуры вводится последовательность чисел через пробел.
 Необходимо удалить все последовательности элементов, которые встречаются более одного раза подряд</pre>
<form action = '/task/output/'>
    <input name="input"/>
    <input type="submit" value="Отправить на страницу вывода">
</form>
